
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Excel REST Testing Page</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="js/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="assets/js/ie-emulation-modes-warning.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Excel REST Testing App</h3>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><center> Update range </center></div>
      <!-- Table -->
      <form class="navbar-form navbar-left" method="post" action="/rangesyncroute">
        <input type="hidden" name="addr" value="<%= range.address %>">
        <button type="submit" class="btn btn-default">Update Range</button>
      <table class="table">
        <tbody>
          <% range.rowCount.to_i.times  do |row| %>
            <%= "<tr>" %>
              <% range.columnCount.to_i.times  do |col| %>
                <%= "<td><input type=\"text\" name=cell%02d" % row + " class=\"form-control\" placeholder=\"#{range.text[row][col]}\"/></td>" %> 
                <%= "<td style=\"max-width:30%;\">" + 
"<select   style=\"max-width:30%;\">
    <option value=\"four\" selected=\"selected\">#{range.numberFormat[row][col]}</option>
  <option>0.00</option>
  <option>#,##0</option>
  <option>#,##0.00</option>
  <option>#,##0_);(#,##0)</option>
  <option>#,##0_);[Red](#,##0)</option>
  <option>#,##0.00_);(#,##0.00)</option>
  <option>#,##0.00_);[Red](#,##0.00)</option>
  <option>$#,##0_);($#,##0)</option>
  <option>$#,##0_);[Red]($#,##0)</option>
  <option>$#,##0.00_);($#,##0.00)</option>
  <option>$#,##0.00_);[Red]($#,##0.00)</option>
  <option>0%</option>
  <option>0.00%</option>
  <option>0.00E+00</option>
  <option>##0.0E+00</option>
  <option># ?/?</option>
  <option># ??/??</option>
  <option>m/d/yyyy</option>
  <option>d-mmm-yy</option>
  <option>d-mmm</option>
  <option>mmm-yy</option>
  <option>[$-x-systime]h:mm:ss AM/PM</option>
  <option>[$-en-US]dddd, mmmm d, yyyy</option>
  <option>[$-en-US]mmmm d, yyyy;@</option>
  <option>h:mm AM/PM</option>
  <option>h:mm:ss AM/PM</option>
  <option>h:mm</option>
  <option>h:mm:ss</option>
  <option>m/d/yyyy h:mm</option>
  <option>mm:ss</option>
  <option>mm:ss.0</option>
  <option>@</option>
  <option>[h]:mm:ss</option>
  <option>_($* #,##0_);_($* (#,##0);_($* \"-\"_);_(@_)</option>
  <option>_(* #,##0_);_(* (#,##0);_(* \"-\"_);_(@_)</option>
  <option>_($* #,##0.00_);_($* (#,##0.00);_($* \"-\"??_);_(@_)</option>
  <option>_(* #,##0.00_);_(* (#,##0.00);_(* \"-\"??_);_(@_)</option>
  <option>[$-en-US]h:mm:ss AM/PM</option>
</select>
                </td>" %> 
              <% end %>
            <%= "</tr>" %>
          <% end %>
        </tbody>
      </table>

      </form>        


    </div>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
